body {
  background-color: rgb(232, 246, 255);
  display: flex;
  font-family: sans-serif;
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.inner {
  border: 1px solid black;
  margin: auto;
  height: 250px;
  width: 400px;
  padding: 40px 55px 45px 55px;
}

input, button {
  margin: 10px;
}
